.vr-games-block {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;

    margin: 40px 35px 30px 55px;
}

.vr-games-block__title {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 27px;
}

.vr-games-panel {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vr-games-panel__button {
    padding: 12px 17px;

    color: white;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
}

.add-new-card {
    background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
    border-radius: 4px;
}

.vr-games-panel__select {
    font-family: 'Inter';
    font-style: normal;

    font-weight: 500;
    font-size: 14px;

    color: white;
    background-color: black;

    border: 1px solid #5A5B6A;
    border-radius: 4px;

    width: 135px;
    height: 35px;

    appearance: none;

    padding-left: 9px;

    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - .5em) .5em;
    background-size:
        4px 5px,
        5px 5px,
        1.5em 1.5em;
    background-repeat: no-repeat;
}

.vr-games-items-list {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 40px 40px;

    margin: 30px 40px 35px 40px;
}

.vr-games-items-list::before {
    position: absolute;

    content: "";

    width: 70%;
    height: 100%;

    right: 70%;
    bottom: -20%;

    z-index: -1;

    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
}

.vr-games-items-list::after {
    position: absolute;

    content: "";

    width: 70%;
    height: 100%;

    left: 70%;
    bottom: -50%;

    z-index: -1;

    background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
}


.vr-games-item {
    position: relative;

    display: flex;

    border-radius: 5px;
}

.vr-games__info-block {
    position: absolute;

    bottom: 0;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    width: 100%;
    height: 25%;

    background: rgba(185, 54, 245, 0.25);
    backdrop-filter: blur(55px);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    overflow: hidden;
}

.vr-games-item__game-block {
    position: absolute;

    top: 0;

    margin: 5px 0 0 10px;

    max-width: 40%;

    line-height: 8px;
}

.vr-games-item__user-block {
    position: absolute;

    right: 0;
    top: 0;

    margin: 5px 10px 0 0;

    max-width: 40%;

    line-height: 7px;
}

.vr-games-item__game-name,
.vr-games-item__user-name {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    text-decoration-line: underline;
}

.vr-games-item__game-description,
.vr-games-item__user-review {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
}

.vr-games-item__photo {
    width: 230px;
    height: 179px;

    border-radius: 4px;
}

.vr-games-items-list__empty {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 60px;

    text-align: center;
}

@media screen and (max-width: 575px) {
    .vr-games-block {
        align-items: center;

        gap: 20px;

        margin: 40px 10px 30px 10px;
    }

    .vr-games-panel {
        gap: 10px;
    }

    .vr-games-panel__button {
        padding: 10px 10px;
    }

    .vr-games-items-list::before,
    .vr-games-items-list::after {
        display: none;
    }

    .vr-games-items-list__empty {
        font-size: 10vw;
        line-height: 20px;
    }
}